labextension/lib/
nbextension/lib/
nbextension/embed/
node_modules/
npm-debug.log
*.egg-info/
build/
dist/

# Compiled javascript
yaml_tangram_renderer/__pycache__/
yaml_tangram_renderer/static/

# OS X
.DS_Store
